<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/template/js/bootstrap.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/template/js/bootstrap-image-gallery.min.js"></script>
<script src="/template/js/music.js"></script>
<script src="/template/js/nprogress.js"></script>
<script src="/template/js/navigation.js"></script>
<script src="/Jcrop/js/jquery.Jcrop.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0-alpha/js/bootstrap-datepicker.min.js"></script>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="/template/js/audio_player.js"></script>
<script src="/template/js/user.js"></script>
<script src="/template/js/search.js"></script>
<script src="/template/js/messages.js"></script>
<script src="/template/js/isotope.pkgd.min.js"></script>
<script src="/template/js/imagesloaded.pkgd.min.js"></script>
