<div id="player_block">
    <div class="YTcontrols">
        <div class="player_block_b" onclick="show_v_player()"><i class="fa fa-reply"></i></div>
        <div class="player_block_pl" onclick="play()"><i class="fa fa-play"></i></div>
        <div class="player_block_ps" onclick="pause()"><i class="fa fa-pause"></i></div>
        <div class="player_block_nx" onclick="play_next()"><i class="fa fa-forward"></i></div>
        <div class="player_block_pr" onclick="play_prev()"><i class="fa fa-backward"></i></div>
        <div class="player_block_rp" onclick="loop_m_track()"><i class="fa fa-repeat"></i></div>
        <div class="player_block_von" onclick="mute_m_player()"><i class="fa fa-volume-up"></i></div>
        <div class="player_block_voff" onclick="mute_m_player()"><i class="fa fa-volume-off"></i></div>
    </div>
    <div id="player"></div>
    <div class="playlist_m"></div>
</div>